$primary: #00aaff !default;
$secondary: #ff00aa !default;
$background: #fafafa !default;
$grey: #e5e5e5 !default;
$lightgrey: #f5f5f5 !default;
$black: #252525 !default;
$white: #fff !default;
$yellow: #fffccd !default;
$contact-background: linear-gradient(white, $grey) !default;
$accent-green: #dafd27e1 !default;
$darkgreen: #3e4b4c;